fsddfsfssdadadsadasdsadasdasdsadasfdsdsdsffdsfsdfdsfsddffsdfdfdsdfsdsfdsfdsfsdffsdfsd**/*.iml
**/*.ipr
**/*.iws

**/bin/
**/target/
**/bower_components/
**/node_modules/
**/classes_gen/
**/source_gen/
**/source_gen.caches/
**/.mps-caches
**/.mps/vcs.xml
**/.mps/workspace.xml
**/.idea/
**/external-libraries-shaded.jar
**/library-shaded.jar

.project
.classpath
.metadata
.loadpath
.launch
.buildpath
.cproject
.target

/.idea
.settings/
tmp/
.exteranalToolBuilders/
.idea/
.vscode

*.log
*.log.*

.pydevproject


### OSX ###
*.DS_Store
.AppleDouble
.LSOverride

# Files that might appear in the root of a volume on OSX
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
sic-mapping/file**
.java-version

# Terraform
**/.terraform
**/.terraform.lock.hcl
**/.infracost
**/terraform.tfstate*
terraform.plan
